{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mx-auto">
                    {{ post.title }} 
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div>
        <div class="container">
            <div class="mx-auto">
                <div class="mx-auto border-black">
                    <div class="lead">
                    {{ post.body | safe }}
                    </div>
                </div>                 
            </div>
        </div>
    </div>

    <div class="col-md-12 col-8 mx-auto mt-5 mb-2">
        <h6 class="text-left text-muted"> Post written by {{ post.author }} on {{ post.created_on }} </h6>
        {% if request.user.is_superuser %} 
            <div class="text-center mx-auto pb-2">
                <a href="{% url 'delete_post' post.slug %}">
                    <button>Delete Post</button>
                </a>
            </div>
        {% endif %}
        <div class="text-center">
            <a href="{% url 'blog' %}">
                <button>Back to Blog</button>
            </a>
            <a href="{% url 'home' %}">
                <button>Home</button>
            </a>
        </div>
    <div>
{% endblock %}